@import "../theme/colors.scss";

.root {
  color: $white !important;
  background-color: $dark-blue !important;
  border-radius: 500px !important;
  font-weight: bold !important;
}

.disabled {
  background-color: $grey !important;
}

.load {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  display: flex;
}

.small {
  height: 40px;
  font-size: 16px !important;
  padding: 0 30px !important;
}

.medium {
  height: 48px;
  font-size: 18px !important;
  padding: 0 50px !important;
}

.large {
  height: 80px;
  font-size: 22px !important;
  padding: 0 90px !important;
}
