@import "../colors.scss";
@import "../common.scss";
@import "../layout.scss";

.main {
  @include flex-row;
  height: 100px;
  align-items: center;
  padding: $small-margin;
  border-color: $grey;
  border-bottom: '1px';
}

.text_avatar {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  color: $white;
  background-color: $cyan;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1em;
}

.menu_button {
  border-radius: 30px !important;
  &:hover {
    background-color: $smoke-blue !important;
  }
}

.button_inner {
  @include flex-row;
  align-items: center;
  max-width: 320px;
}

.name_container {
  @include flex-column;
  margin: 0 $medium-margin;
  align-items: flex-start;
}

.text_name {
  color: $dark-grey;
  font-weight: bold;
}

.text_email {
  color: $grey;
}

.menu {
  padding: $small-margin;
}

.notification_button {
  color: $dark-blue !important;
  background-color: $white !important;
}

.notification_button_highlight {
  color: $white !important;
  background-color: $dark-blue !important;
}
