@import "../colors.scss";

.root {
    .sideMenu {
        color: $white;
        background-color: $dark-blue;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-right: 0;

        .divider {
            background-color: $hint-grey;
        }

        .drawerHeader {
            text-align: center;
            display: flex;
            flex-direction: column;
            max-height: 100px;
            .logo {
                object-fit: contain;
                height: 100%;
            }
        }

        .navList {
            flex: 1;
            overflow-y: auto;
            -ms-overflow-style: none;  // IE 10+
            overflow: -moz-scrollbars-none;  // Firefox

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .icon {
        color: $white;
    }

    .listItem {
        &.selected, &.selected:hover {
            background-color: #344ba1;
        }

        .text {
            color: $white;
        }
    }
}
