$light-grey-blue: #f9fafc;
$light-blue: #edf6fc;

$dark-blue: #263675;
$smoke-blue: #EDF6FC;
$cyan: #4ec9ed;
$red: #ff4646;
$green: #51d32a;

$dark-grey: #464646;
$medium-grey: #707070;
$grey: #a7a7a7;
$hint-grey: #cccccc;
$white: #ffffff;

$yellow: #fad745;
$orange: #ff8000;
$purple-pink: #d533f2;
$dark-purple: #5c3de2;

:export {
    light-grey-blue: $light-grey-blue;
    light-blue: $light-blue;

    dark-blue: $dark-blue;
    smoke-blue: $smoke-blue;
    cyan: $cyan;
    red: $red;
    green: $green;

    dark-grey: $dark-grey;
    medium-grey: $medium-grey;
    grey: $grey;
    hint-grey: $hint-grey;
    white: $white;

    yellow: $yellow;
    orange: $orange;
    purple-pink: $purple-pink;
    dark-purple: $dark-purple;
  }