:export {
  light-grey-blue: #f9fafc;
  light-blue: #edf6fc;
  dark-blue: #263675;
  smoke-blue: #edf6fc;
  cyan: #4ec9ed;
  red: #ff4646;
  green: #51d32a;
  dark-grey: #464646;
  medium-grey: #707070;
  grey: #a7a7a7;
  hint-grey: #ccc;
  white: #fff;
  yellow: #fad745;
  orange: #ff8000;
  purple-pink: #d533f2;
  dark-purple: #5c3de2;
}
