$dark-blue: #263675;
$cyan: #4EC9ED;
$red: #FF4646;
$green: #51D32A;

$dark-grey: #464646;
$medium-grey: #707070;
$grey: #A7A7A7;
$hint-grey: #CCCCCC;
$white: #FFFFFF;

$yellow: #FAD745;
$orange: #FF8000;
$purple-pink:#D533F2;
$dark-purple: #5C3DE2;